---
const { id, className } = Astro.props;
---

<frosti-backtotop id={id} class:list={[className, "flex", "ustify-center"]}>
  <button class:list={[className, "btn", "btn-ghost"]} id="backToTop"
    ><span class="sr-only">To Top Button</span><svg
      viewBox="0 0 24 24"
      fill="fill-current w-10 h-10"
      xmlns="http://www.w3.org/2000/svg"
      ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
        <path
          d="M12 5V19M12 5L6 11M12 5L18 11"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </g></svg
    ></button
  ></frosti-backtotop
>
<script>
  class FrostiBackToTop extends HTMLElement {
    connectedCallback() {
      const $ = (selector: string) => this.querySelector(selector);

      const backToTopButton = $("#backToTop") as HTMLInputElement;

      if (backToTopButton) {
        backToTopButton.addEventListener("click", () => {
          window.scrollTo({ top: 0, behavior: "smooth" });
        });
      }
    }
  }
  customElements.define("frosti-backtotop", FrostiBackToTop);
</script>
