/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
html {
	background-color: var(--background);
	color: var(--text);
	scroll-behavior: smooth;
	padding: 0px;
}

[class="light"] {
	--background: #D6E6F2;
	--accent: #769FCD;
	--badge: #B9D7EA;
	--card: #F7FBFC;
	--text: #0f1219;

	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

[class="dark"] {
	--background: #35374B;
	--accent: #78A083;
	--badge: #50727B;
	--card: #344955;
	--text: #cececc;

	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	background-color: var(--background);
	color: var(--text);
	font-size: 20px;
	line-height: 1.7;
}

main {
	background-color: var(--background);
}

footer {
	position: relative;
	top: 30px;
	padding: 20px 20px 20px 20px;
	background-color: var(--card);
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition: color 0.3s, background-color 0.3s;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: var(--text);
	line-height: 1.2;
}

h1 {
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

strong,
b {
	font-weight: 700;
	color: var(--text);
}

a {
	color: var(--accent);
	text-decoration: none;
}

a:hover {
	color: var(--accent);
}

p {
	margin-bottom: 1em;
	color: var(--text);
}

.prose p {
	margin-bottom: 2em;
	color: var(--text);
}

em {
	color: var(--text);
}

li {
	color: var(--text);
}

th {
	color: var(--text);
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	background-color: var(--gray-light);
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre>code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-dark));
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

.main {
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 0px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: flex-start;
}

.navbar {
	position: fixed;
	padding: 20px 0px;
	width: 100%;
	transform: translateY(-200px);
	text-align: center;
	background-color: var(--card);
	transition: color 0.3s, background-color 0.3s, transform 1.3s ease, width 0.8s, height 0.8s;
	z-index: 100;
}

.navbar-title {
	font-size: 2em;
	font-weight: 700;
	color: var(--text);
	text-decoration: none;
	transition: color 0.3s, background-color 0.3s;
}

.profile {
	position: relative;
	padding: 40px 40px 40px 60px;
}

.background {
	position: relative;
	box-sizing: border-box;
	padding: 40px 60px 40px 40px;
	width: 100%;
	height: 100%;
	max-height: 100%;
	overflow: auto;
	background-color: transparent;
}

.envelope-background {
	margin-top: -30px;
}

.envelope-back {
	margin-top: 30px;
	position: relative;
	width: 100%;
	height: 200px;
	min-height: 200px;
	background-color: var(--badge);
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition: color 0.3s, background-color 0.3s, width 0.8s, height 0.8s;
}

.envelope-image {
	position: absolute;
	right: 0;
	width: 40%;
	height: 100%;
	border-radius: 20px;
}

.envelope-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}

.envelope-card {
	position: absolute;
	left: 0;
	width: 80%;
	height: 100%;
	background-color: var(--card);
	border-radius: 20px;
	overflow: hidden;
	transition: color 0.3s, background-color 0.3s, width 0.8s, height 0.8s;
}

.envelope-card:hover {
	width: 70%;
}

.envelope-info {
	position: relative;
	width: 100%;
	height: 100%;
}

.envelope-title {
	font-size: 2em;
	padding: 30px 30px 0px 30px;
}

.desc {
	padding: 30px;
	margin-top: -30px;
	max-height: 1.5em;
}


.back-card {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding-bottom: 150px; 
	background-color: var(--badge);
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition: color 0.3s, background-color 0.3s, width 0.8s, height 0.8s;
}

.back-card::before {
	position: absolute;
	font-size: 56px;
	color: var(--text);
	content: attr(title);
	margin-top: 30px;
	margin-left: 30px;
	transition: color 0.3s, background-color 0.3s;
}

.main-card {
	position: relative;
	top: 150px;
	padding: 20px 20px 20px 20px;
	background-color: var(--card);
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition: color 0.3s, background-color 0.3s, width 0.8s, height 0.8s;
}

.license-card {
	position: relative;
	width: 100%;
	background-color: var(--badge);
    margin: -20px;
	padding: 20px;
	overflow: hidden;
	transition: color 0.3s, background-color 0.3s;
}

.license-card svg{
	position: absolute;
	right: 10%;
	top: 50%;
	transform: translateY(-50%);
	width: 200px;
	height: 200px;
	transition: color 0.3s, background-color 0.3s;
}

.license-cc {
	fill: var(--card);
	transition: color 0.3s, background-color 0.3s;
}

.license-title {
	font-weight: 700;
	color: var(--text);
	transition: color 0.3s, background-color 0.3s;
}

.license-url {
	transition: color 0.3s, background-color 0.3s;
}

.profile-card {
	width: 250px;
	min-width: 250px;
	padding: 40px 20px 20px 20px;
	background-color: var(--card);
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition: color 0.3s, background-color 0.3s, transform 1.0s ease;
}

.profile-picture {
	text-align: center;
	transition: color 0.3s, background-color 0.3s;
}

.profile-picture img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	transition: color 0.3s, background-color 0.3s;
}

.profile-info {
	position: relative;
	margin-top: 0px;
	transition: color 0.3s, background-color 0.3s;
}

.profile-name {
	font-size: 24px;
	color: var(--text);
	text-align: center;
	transition: color 0.3s, background-color 0.3s;
}

.profile-desc {
	font-size: 16px;
	color: var(--text);
	text-align: center;
	line-height: 0.4;
	transition: color 0.3s, background-color 0.3s;
}

@media screen and (max-width: 1100px) {
	.profile {
		position: absolute;
	}

	.background {
		position: relative;
		padding: 140px 40px 40px 40px;
	}

	.profile-card {
		transform: translateX(-500px);
	}

	.navbar {
		transform: translateY(0px);
	}
}

.menu-item {
	border-radius: 10px;
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	color: var(--text);
	background-color: transparent;
	border: none;
	cursor: pointer;
	width: 150px;
	text-align: center;
	transition: color 0.3s, background-color 0.3s;
}

.menu-item:hover {
	background-color: var(--badge);
}

.menu-item.on {
	background-color: var(--background);
}

.social-icons {
	text-align: center;
	transition: color 0.3s, background-color 0.3s;
}

.social-icon {
	border-radius: 10px;
	display: inline-block;
	margin: 0 5px;
	line-height: 30px;
	width: 30px;
	font-size: 20px;
	color: var(--text);
	text-decoration: none;
	transition: color 0.3s, background-color 0.3s;
}

.social-icon:hover {
	color: var(--badge);
}

#themeToggle {
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 20px;
	right: 20px;
	padding: 10px;
	border: 0;
	background: var(--card);
	cursor: pointer;
	border-radius: 5px;
	transition: color 0.3s, background-color 0.3s;
}

#themeToggle:hover {
	background-color: var(--badge);
}

.sun {
	fill: var(--text);
}

.moon {
	fill: transparent;
}