/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
html {
	background-color: var(--background);
	color: var(--text);
	scroll-behavior: smooth;
}

html.dark {
	background-color: var(--background-dark);
	color: var(--text-dark);
}

:root {
	--background: #D6E6F2;
	--accent: #769FCD;
	--badge: #B9D7EA;
	--card: #F7FBFC;
	--text: #0f1219;
	--background-dark: #35374B;
	--accent-dark: #78A083;
	--badge-dark: #50727B;
	--card-dark: #344955;
	--text-dark: #cececc;

	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	background-color: var(--background);
	color: var(--text);
	font-size: 20px;
	line-height: 1.7;
}

html.dark body {
	background-color: var(--background-dark);
	color: var(--text-dark);
}

main {
	background-color: var(--background);
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}

html.dark main {
	background-color: var(--background-dark);
}

footer {
	background-color: var(--background);
}

html.dark footer {
	background-color: var(--background-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: var(--text);
	line-height: 1.2;
}

html.dark h1,
html.dark h2,
html.dark h3,
html.dark h4,
html.dark h5,
html.dark h6 {
	margin: 0 0 0.5rem 0;
	color: var(--text-dark);
	line-height: 1.2;
}

h1 {
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

strong,
b {
	font-weight: 700;
	color: var(--text);
}

html.dark strong,
html.dark b {
	font-weight: 700;
	color: var(--text-dark);
}

a {
	color: var(--accent);
}

a:hover {
	color: var(--accent);
}

html.dark a {
	color: var(--accent-dark);
}

html.dark a:hover {
	color: var(--accent-dark);
}

p {
	margin-bottom: 1em;
	color: var(--text);
}

.prose p {
	margin-bottom: 2em;
	color: var(--text);
}

html.dark p {
	color: var(--text-dark);
}

html.dark .prose p {
	color: var(--text-dark);
}

em {
	color: var(--text);
}

html.dark em {
	color: var(--text-dark);
}

li {
	color: var(--text);
}

html.dark li {
	color: var(--text-dark);
}

th {
	color: var(--text);
}

html.dark th {
	color: var(--text-dark);
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	background-color: var(--gray-light);
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre>code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

html.dark blockquote {
	border-left: 4px solid var(--accent-dark);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-dark));
}

html.dark hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

.wrapper {
	display: flex;
	/* 使用 Flexbox 布局 */
	align-items: flex-start;
	/* 垂直对齐方式为顶部对齐 */
}

.back-card {
	position: absolute;
	top: 7%;
	right: 10%;
	width: 50%;
	height: 300px;
	background-color: var(--badge);
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition: color 0.3s, background-color 0.3s;
}

html.dark .back-card {
	background-color: var(--badge-dark);
}

.back-card::before {
	position: absolute;
	font-size: 56px;
	color: var(--text);
	content: attr(title);
	margin-top: 30px;
	margin-left: 30px;
	transition: color 0.3s, background-color 0.3s;
}

html.dark .back-card::before {
	color: var(--text-dark); /* 设置文本颜色 */
}

.main-card {
	margin-top: 150px;
	padding: 20px 20px 20px 20px;
	background-color: var(--card);
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition: color 0.3s, background-color 0.3s;
}

html.dark .main-card {
	background-color: var(--card-dark);
}

.profile-card {
	position: fixed;
	width: 20%;
	/* 设置 Profile 组件的宽度 */
	min-width: 250px;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
	padding: 40px 20px 20px 20px;
	background-color: var(--card);
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition: color 0.3s, background-color 0.3s;
}

html.dark .profile-card {
	background-color: var(--card-dark);
}

.profile-picture {
	text-align: center;
	margin-bottom: 20px;
	transition: color 0.3s, background-color 0.3s;
}

.profile-picture img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	transition: color 0.3s, background-color 0.3s;
}

.profile-info h2 {
	margin-bottom: 10px;
	transition: color 0.3s, background-color 0.3s;
}

.menu-item {
	border-radius: 10px;
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	color: var(--text);
	background-color: transparent;
	border: none;
	cursor: pointer;
	width: 150px;
	text-align: center;
	transition: color 0.3s, background-color 0.3s;
}

html.dark .menu-item {
	color: var(--text-dark);
}

.menu-item:hover {
	background-color: var(--badge);
}

html.dark .menu-item:hover {
	background-color: var(--badge-dark);
}

.social-icons {
	text-align: center;
	transition: color 0.3s, background-color 0.3s;
}

.social-icon {
	border-radius: 10px;
	display: inline-block;
	margin: 0 5px;
	line-height: 30px;
	width: 30px;
	font-size: 20px;
	color: var(--text);
	text-decoration: none;
	transition: color 0.3s, background-color 0.3s;
}

html.dark .social-icon {
	color: var(--text-dark);
}

.social-icon:hover {
	color: var(--badge);
}

html.dark .social-icon:hover {
	color: var(--badge-dark);
}