@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

.link-card a,
a {
  @apply relative no-underline;
}

.katex-display {
  overflow-x: auto;
}

.medium-zoom-image--opened {
  @apply rounded-xl shadow-xl;
}

.main-card img {
  @apply rounded-xl;
}

.main-card p,
.main-card li,
.main-card blockquote {
  a {
    @apply px-0.5 rounded-md font-medium;
    color: oklch(var(--p));
    transition:
      background-color 0.3s,
      background-size 0.3s,
      background-position 0.3s ease;
    box-decoration-break: clone;
    background-image: linear-gradient(oklch(var(--p)), oklch(var(--p)));
    background-size: 100% 2px;
    background-position: left bottom;
    background-repeat: no-repeat;
  }

  a:hover {
    background-color: oklch(var(--p) / 0.3);
    background-size: 0% 2px;
  }

  a:active {
    background-color: oklch(var(--p) / 0.2);
    background-size: 0% 2px;
  }
}

.alert,
.collapse,
.diff {
  @apply my-2;
}

html[data-theme-type="light"] {
  #content-box {
    .active {
      color: oklch(var(--n));
      background-color: oklch(var(--b3));
    }
  }
}

#catalogs::-webkit-scrollbar {
  display: none;
}

#catalogs {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html[data-theme-type="dark"] {
  --pagefind-ui-primary: oklch(var(--nc));
  --pagefind-ui-text: oklch(var(--nc));
  --pagefind-ui-background: oklch(var(--b1));
  --pagefind-ui-border: oklch(var(--n));
  --pagefind-ui-tag: oklch(var(--b1));

  .highlight,
  .frosti-code,
  .frosti-code span {
    color: var(--shiki-dark) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }

  .highlight-tools {
    background-color: oklch(var(--n)) !important;
  }
}

body {
  @apply m-0 p-0 text-left bg-cover text-xl leading-7;
  background-size: 100% 600px;
}

summary {
  list-style: none;
}

a {
  svg {
    @apply inline-block;
    vertical-align: -0.25rem;
  }
}

ol {
  @apply pl-[40px] list-decimal;
}

ul {
  @apply pl-[40px] list-disc;
}

li::marker,
.toc-number {
  color: oklch(var(--p));
}

thead {
  color: oklch(var(--s));
}

textarea,
input {
  @apply text-base;
}

.anchor {
  @apply p-0.5 rounded-xl font-medium;
  margin-left: 4px;
  color: oklch(var(--p));
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1.25em;
  height: 1.25em;
  opacity: 0;
  transition:
    opacity 0.3s,
    background-color 0.3s,
    color 0.3s,
    text-decoration 0.3s ease;

  svg {
    @apply inline-block;
    vertical-align: -0.25rem;
  }
}

.anchor:hover {
  background-color: oklch(var(--p) / 0.3);
  background-size: 1;
}

.anchor:active {
  background-color: oklch(var(--p) / 0.2);
}

.anchor-icon::before {
  content: "#";
  color: inherit;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply my-2 mb-1 font-semibold;
}

h1 {
  @apply text-5xl leading-tight pt-7;
}

h2 {
  @apply text-4xl leading-snug pt-6;
}

h3 {
  @apply text-3xl leading-normal pt-5;
}

h4 {
  @apply text-2xl leading-relaxed pt-4;
}

h5 {
  @apply text-xl leading-relaxed pt-3;
}

strong,
b {
  @apply font-bold my-2;
}

em {
  @apply my-2;
}

table {
  @apply border-collapse my-2;
  table-layout: fixed;
}

table tr {
  @apply h-10 border-0;
  border-color: oklch(var(--nc));
}

code {
  color: oklch(var(--bc));
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  white-space: nowrap;
  @apply bg-base-300 border border-solid rounded-md px-1 py-0.5 text-base shadow;
  border-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
}

pre {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  padding: 10px;
}

blockquote {
  @apply alert px-6;
}

pre > code {
  all: unset;
}

hr {
  @apply my-2;
}

tr:last-child td {
  border-bottom: none;
}

thead th {
  border-bottom: 1px solid oklch(var(--bc) / 0.25);
}

.card figure {
  @apply block;
  @apply relative;
}

.frosti-code,
.frosti-code span {
  @apply text-sm;
  background-color: oklch(var(--b2));
}

.highlight {
  position: relative;
  border-radius: var(--rounded-box, 1rem);
  overflow: hidden;
  margin: 0.5rem 0;
  background-color: oklch(var(--b2));
}

.highlight-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: oklch(var(--nc));
}

.highlight-code {
  @apply flex;
}

.highlight-code .code {
  @apply flex-auto;
  overflow: auto;
  padding-right: 4em;
}

.highlight-code .gutter {
  @apply flex-none text-right;
  user-select: none;
  border-right: 1px solid #888;
}

.highlight .code-lang {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  user-select: none;
}

.menu-item summary::after {
  position: absolute;
}

.main-card p,
.main-card ol,
.main-card ul,
.timeline-box {
  @apply my-3 leading-relaxed;
}

.image-link {
  position: relative;
  display: inline-block;
}

.image-link img {
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
}

.image-link:hover img {
  transform: scale(1.2);
  filter: brightness(0.5);
}

.image-link:active img {
  transform: scale(1.1);
  filter: brightness(0.5);
}

.image-link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transform-origin: center;
  opacity: 0;
  width: 100px;
  height: 100px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 width%3D%2224%22 height%3D%2224%22 viewBox%3D%220 0 24 24%22 fill%3D%22%23ffffff%22%3E%3Cpath d%3D%22M8.59%2C16.58L13.17%2C12L8.59%2C7.41L10%2C6L16%2C12L10%2C18L8.59%2C16.58Z%22%3E%3C/path%3E%3C/svg%3E");
  background-size: cover;
  transition:
    opacity 0.3s,
    transform 0.3s ease;
  pointer-events: none;
}

.image-link:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.image-link:active::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.8);
}

.copy-btn {
  position: relative;
  top: 0;
  right: 0;
  z-index: 10;
}

.btn-category {
  @apply bg-primary/10 hover:bg-primary text-primary hover:text-primary-content border-none hover:scale-110 transition-all duration-300;
}

.btn-tag {
  @apply bg-secondary/10 hover:bg-secondary text-secondary hover:text-secondary-content border-none hover:scale-110 transition-all duration-300;
}

.timeline {
  @apply pl-0;
}

.timeline li {
  @apply my-0 leading-none;
}

.footnotes {
  @apply border-solid border-2 mt-8 mb-2 transition-all rounded-xl p-8;
}

.swup-progress-bar {
  background-color: oklch(var(--p));
}

.fade-in-up {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 0.5s ease forwards;

  @for $i from 1 through 100 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 0.05}s;
    }
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
