@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

.no-card {
  border-radius: var(--rounded-box, 1rem);
}

.link-card a,
a {
  @apply relative no-underline;
}

.katex-display {
  overflow-x: auto;
}

.medium-zoom-image--opened {
  @apply rounded-xl shadow-xl;
}

.main-card img {
  @apply rounded-xl;
}

.main-card p a,
.main-card li a {
  @apply underline inline-flex;

  svg {
    @apply inline-block;
    vertical-align: -0.25rem;
  }
}

.main-card p a:hover,
.main-card li a:hover {
  color: oklch(var(--p));
}

.alert,
.collapse,
.diff {
  @apply my-2;
}

html[data-theme="dracula"] {
  --pagefind-ui-primary: oklch(var(--nc));
  --pagefind-ui-text: oklch(var(--nc));
  --pagefind-ui-background: oklch(var(--b1));
  --pagefind-ui-border: oklch(var(--n));
  --pagefind-ui-tag: oklch(var(--b1));

  .highlight,
  .frosti-code,
  .frosti-code span {
    color: var(--shiki-dark) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }

  .highlight-tools {
    background-color: oklch(var(--n)) !important;
  }
}

body {
  @apply m-0 p-0 text-left bg-cover text-xl leading-7;
  background-size: 100% 600px;
}

summary {
  list-style: none;
}

@media (max-width: 720px) {
  body {
    @apply text-lg;
  }
}

@font-face {
  font-family: "Cascadia";
  src: url("/fonts/CascadiaCode.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

ol {
  @apply pl-[40px] list-decimal;
}

ul {
  @apply pl-[40px] list-disc;
}

li::marker,
.toc-number {
  color: oklch(var(--p));
}

thead {
  color: oklch(var(--s));
}

textarea,
input {
  @apply text-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply my-2 mb-1 font-semibold;
}

h1 {
  @apply text-5xl leading-tight mt-7;
}

h2 {
  @apply text-4xl leading-snug mt-6;
}

h3 {
  @apply text-3xl leading-normal mt-5;
}

h4 {
  @apply text-2xl leading-relaxed mt-4;
}

h5 {
  @apply text-xl leading-relaxed mt-3;
}

strong,
b {
  @apply font-bold my-2;
}

em {
  @apply my-2;
}

table {
  @apply border-collapse my-2;
  table-layout: fixed;
}

table tr {
  @apply h-10 border-0 border-gray-300;
  border-color: oklch(var(--nc));
}

code {
  font-family: "Cascadia";
  @apply text-xl p-[2px_5px] rounded-sm;
}

pre {
  font-family: "Cascadia";
  padding: 10px;
}

blockquote {
  @apply alert;
}

pre>code {
  all: unset;
}

hr {
  @apply my-2;
}

tr:last-child td {
  border-bottom: none;
}

thead th {
  border-bottom: 1px solid oklch(var(--bc) / 0.25);
}

.card figure {
  @apply block;
  @apply relative;
}

.frosti-code,
.frosti-code span {
  @apply text-sm;
  background-color: oklch(var(--b2));
}

.highlight {
  position: relative;
  border-radius: var(--rounded-box, 1rem);
  overflow: hidden;
  margin: 0.5rem 0;
  background-color: oklch(var(--b2));
}

.highlight-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: oklch(var(--nc));
}

.highlight-code {
  @apply flex;
}

.highlight-code .code {
  @apply flex-auto;
  overflow: auto;
  padding-right: 4em;
}

.highlight-code .gutter {
  @apply flex-none text-right;
  user-select: none;
  border-right: 1px solid #888;
}

.highlight .code-lang {
  font-family: "Cascadia";
  user-select: none;
}

.menu-item summary::after {
  position: absolute;
}

.main-card p,
.main-card ol,
.main-card ul,
.main-card li,
.timeline-box {
  @apply my-2 leading-normal;
}

.timeline {
  @apply pl-0;
}

.timeline li {
  @apply my-0 leading-none;
}

.footnotes {
  @apply alert;
}