/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
* {
	transition: margin-bottom 0.8s;
}

html {
	scroll-behavior: smooth;
	padding: 0px;
}

@font-face {
	font-family: 'Cascadia';
	src: url('/fonts/CascadiaCode.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 20px;
	line-height: 1.7;
}

footer {
	position: relative;
	top: 30px;
	border-radius: 20px;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	margin-bottom: 0.25em;
}

h1 {
	font-size: 2.441em;
}

h2 {
	font-size: 1.953em;
}

h3 {
	font-size: 1.563em;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1.15em;
}

strong,
b {
	font-weight: 700;
	margin: 0.5em;
}

a {
	text-decoration: none;
}

p {
	margin: 0.5em;
}

ol {
	padding: 0px 0px 0px 40px;
	list-style: decimal;
}

ul {
	padding: 0px 0px 0px 40px;
	list-style: disc;
}

li::marker {
	color: oklch(var(--a));
}

thead {
	color: oklch(var(--s));
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	border-collapse: collapse;
	margin: 0.5em;
}

table tr {
	height: 2.5em;
	border-bottom: 1px solid oklch(var(--nc));
}

img {
	border-radius: 8px;
}

code {
	font-family: 'Cascadia';
	font-size: 0.875em;
	padding: 2px 5px;
	border-radius: 2px;
}

pre {
	font-family: 'Cascadia';
	font-size: 0.875em;
	padding: 1.5em;
	border-radius: 8px;
	margin: 0.5em;
}

.astro-code {
	margin: 0.5em;
}

pre>code {
	all: unset;
}

.alert {
	margin: 0.5em;
	width: auto;
}

hr {
	border: 0;
	color: oklch(var(--bc));
	background: linear-gradient(currentColor, currentColor) no-repeat center;
	background-size: calc(100% - 1.5em - 6px) 1px;
	display: flex;
	justify-content: space-between;
	height: 50px;
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

.main {
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 0px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: flex-start;
}

.navbar {
	position: fixed;
	padding: 0;
	width: 100%;
	transform: translateY(-200px);
	text-align: center;
	z-index: 100;
	transition: transform 0.3s ease;
}

.navbar-title {
	text-decoration: none;
}

.profile {
	position: relative;
	padding: 20px 10px 20px 60px;
}

.background {
	position: relative;
	box-sizing: border-box;
	padding: 20px 60px 20px 20px;
	width: 100%;
	height: 100%;
	max-height: 100%;
	overflow: auto;
	background-color: transparent;
}

.envelope-background {
	margin-top: -30px;
}

.envelope-back {
	margin-top: 30px;
	position: relative;
	width: 100%;
	height: 200px;
	min-height: 200px;
}

.envelope-image {
	position: absolute;
	right: 0;
	width: 40%;
	height: 100%;
	border-radius: 20px;
}

.envelope-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}

.envelope-card {
	position: absolute;
	left: 0;
	width: 80%;
	height: 100%;
	border-radius: 20px;
	overflow: hidden;
}

.envelope-info {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	z-index: 100;
}

.envelope-title {
	font-size: 2em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.desc {
	padding: 30px 30px 0px 30px;
	margin-top: -30px;
	max-height: 2em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.back-card {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
}

.main-card {
	position: relative;
	line-height: 1.5;
	z-index: 10;
}

.card-img {
	position: relative;
	top: 0;
	border-radius: 20px 0px 0px;
	margin-bottom: -30%;
	z-index: 2;
}

.card-img:hover {
	margin-bottom: -40px;
	cursor: pointer;
}

.license-card {
	position: relative;
	width: 100%;
	margin: -20px;
	padding: 20px;
	overflow: hidden;
}

.license-card svg {
	position: absolute;
	right: 10%;
	top: 50%;
	transform: translateY(-50%);
	width: 200px;
	height: 200px;
}

.license-title {
	font-weight: 700;
}

.profile-card {
	width: 300px;
	min-width: 300px;
	transition: transform 0.3s ease;
}

.profile-picture {
	text-align: center;
}

.profile-picture img {
	width: 200px;
	height: 200px;
}

.profile-info {
	position: relative;
	margin-top: 0px;
}

.profile-name {
	font-size: 24px;
	text-align: center;
}

.profile-desc {
	font-size: 16px;
	text-align: center;
	line-height: 0.4;
}

.head-menu {
	position: fixed;
	transform: translateY(-100%);
	transition: transform 0.3s ease;
	display: none;
	width: 100%;
	z-index: 50;
}

.head-menu.open {
	transform: translateY(60px);
}

.sidebtn {
	transform: translateX(0);
	transition: transform 0.3s ease;
}

@media screen and (max-width: 1100px) {
	.profile {
		position: absolute;
	}

	.background {
		position: relative;
		padding: 140px 10px 10px 10px;
	}

	.profile-card {
		transform: translateX(-200%);
	}

	.navbar {
		transform: translateY(0px);
	}

	.head-menu {
		display: block;
	}

	.sidebtn {
		transform: translateX(200%);
	}
}

.menu-item {
	display: inline-block;
	text-decoration: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
	width: 100%;
	font-weight: 700;
	font-size: 1.45em;
	text-align: center;
}

.social-icons {
	text-align: center;
}

.social-icon {
	border-radius: 10px;
	display: inline-block;
	margin: 0 5px;
	line-height: 30px;
	width: 30px;
	font-size: 20px;
	text-decoration: none;
}

.social-icon:hover {
	color: var(--badge);
}

.next-btn {
	display: flex;
	justify-content: space-between;
}

.base-btn {
	display: flex;
	align-items: center;
	/* 垂直居中对齐 */
}

#btn-theme {
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 20px;
	right: 20px;
	padding: 10px;
	border: 0;
	cursor: pointer;
	border-radius: 5px;
}

.info {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}