---
const { url, title } = Astro.props;
---

<a href={url} target="_self" class="block hover:-translate-y-0.5 transition-transform duration-300">
  <h2 id={title} class="frosti-heading">
    {title}
  </h2>
</a>
