---
interface Props {
  hiddenPages: (string | number)[];
  current: number;
  baseUrl: string;
}

const { hiddenPages, current, baseUrl } = Astro.props;
---

<div class="dropdown dropdown-top join-item rounded-none">
  <div
    tabindex="0"
    role="button"
    class="btn bg-base-100 rounded-none w-[55px] hover:bg-base-200 transition-colors duration-300"
  >
    ...
  </div>
  <ul class="menu dropdown-content bg-base-100 rounded-box z-[100] p-2 shadow-xl">
    {
      hiddenPages.map((page) => (
        <li>
          <a
            href={page === 1 ? baseUrl : `${baseUrl}/${page}`}
            class:list={[
              "menu-item bg-base-100 hover:bg-base-200 transition-colors duration-300",
              page === current && "btn-active",
            ]}
          >
            {page}
          </a>
        </li>
      ))
    }
  </ul>
</div>
