---
import { Icon } from "astro-icon/components";
import { t } from "i18next";
import type { PostData } from "../../interface/data";
const { pubDate, badge, word, time } = Astro.props as PostData;
---

<div class="flex justify-between items-center mb-4 text-xs sm:text-sm opacity-75">
  <div class="flex flex-wrap items-center gap-2">
    {
      pubDate && (
        <span class="flex items-center gap-1">
          <Icon name="ri:calendar-line" class="h-4 w-4" />
          {pubDate}
        </span>
      )
    }
    {
      badge && (
        <span class="flex flex-wrap items-center gap-1">
          <Icon name="ri:bookmark-2-line" class="h-4 w-4" />
          {badge}
        </span>
      )
    }
  </div>
  <div class="flex flex-wrap items-center gap-1">
    <Icon name="ri:book-open-line" class="h-4 w-4" />
    <span>{word} {t("label.wordCount")} · {time} {t("label.readTime")}</span>
  </div>
</div>
