---
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseCard from "../components/BaseCard.astro";
---

<!doctype html>
<BaseLayout PageID="home">
  <BaseCard image="/home.webp" title="home">
    <div class="pb-12 mt-5">
      <h2 id="h1">Hi! 你好 👋</h2>
      <h2 id="h2">我是 EveSunMaple</h2>
      <p>
        <text class="text-lg">
          我喜欢与信息技术有关的一切事情，它给了我一个契机，用自己的双手创造一切有趣的事物。<br/>
          我会用 C++ 与 Python 写一些有意思的项目，偶尔也会想起以前打 OI 的时间，
          不过都是往事了。<br />
          学习文化课仍然是我的主要任务，有时，我会写一些学习笔记，尽管相较于纸质笔记来说没有什么用。<br/>
          以前关于 OI 的文章被我归档了，如果您需要借阅，可以去我的老博客看看。
        </text>
      </p>
      <div class="mt-8">
        <a class="btn" href="https://old.saroprock.com" target="_blank">
          旧版博客</a
        >
        <a
          href="https://github.com/EveSunMaple"
          target="_blank"
          class="btn btn-outline ml-5"
        >
          我的 Github Profile
        </a>
      </div>
    </div>
  </BaseCard>
</BaseLayout>
