---
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseCard from "../components/BaseCard.astro";
---

<!doctype html>
<BaseLayout PageID="project">
  <BaseCard title="Hi! 欢迎来到Projects！">
    <div class="pb-12 mt-5">
      <h2 id="h2">
		这是一个项目页面！</h2>
      <p>
        <text class="text-lg">
			这是一个项目页面！
        </text>
      </p>
    </div>
  </BaseCard>
</BaseLayout>
