---
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseCard from "../components/BaseCard.astro";
---

<!doctype html>
<BaseLayout PageID="project">
  <BaseCard title="Project">
    <h1 id="h1">Project</h1>
  </BaseCard>
</BaseLayout>
