---
import { getCollection } from "astro:content";
import CardAside from "../layouts/CardAside.astro";
import TagButton from "../widget/TagButton.astro";
import { t } from "i18next";

interface CategoryCount {
  category: string;
  count: number;
}

export async function getTagsWithCounts(): Promise<CategoryCount[]> {
  const posts = await getCollection("blog");
  const tagMap = new Map<string, number>();

  posts.forEach((post) => {
    const tags = post.data.categories || [];
    tags.forEach((category) => {
      tagMap.set(category, (tagMap.get(category) || 0) + 1);
    });
  });

  return Array.from(tagMap, ([category, count]) => ({ category, count }));
}

const tagsWithCounts = await getTagsWithCounts();
---

<CardAside title={t("label.categoryCard")}>
  <div class="flex flex-wrap gap-2 w-full max-h-[300px] p-1 overflow-auto">
    {
      tagsWithCounts.map(({ category, count }) => (
        <TagButton text={category} count={count} href={`/blog/categories/${category}`} type="category" />
      ))
    }
  </div>
</CardAside>
