---
import { getCollection } from "astro:content";
import CardAside from "../layouts/CardAside.astro";
import { t } from "i18next";

interface TagCount {
  category: string;
  count: number;
}

export async function getTagsWithCounts(): Promise<TagCount[]> {
  const posts = await getCollection("blog");

  const tagMap = new Map<string, number>();

  posts.forEach((post) => {
    const tags = post.data.categories || [];
    tags.forEach((category) => {
      tagMap.set(category, (tagMap.get(category) || 0) + 1);
    });
  });

  return Array.from(tagMap, ([category, count]) => ({ category, count }));
}
const tagsWithCounts = await getTagsWithCounts();
---

<CardAside title={t("label.categoryCard")}>
  <div class="flex flex-wrap gap-2.5 w-full max-h-[300px] overflow-auto">
    {
      tagsWithCounts.map(({ category, count }) => (
        <span class="join">
          <a href={`/blog/categories/${category}`} class="btn btn-xs join-item">
            {category}
          </a>
          <div class="btn btn-xs btn-accent no-animation glass bg-accent join-item">
            {count}
          </div>
        </span>
      ))
    }
  </div>
</CardAside>
