---
import { SERVER_URL } from "../consts";
---

<br />
<link
  rel="stylesheet"
  href="https://unpkg.com/@waline/client@v3/dist/waline-meta.css"
/>
<div class="comment">
  <div id="waline-comment-system" data-server-url={SERVER_URL}></div>
</div>
<script type="module" is:inline>
  import { init } from "https://unpkg.com/@waline/client@v3/dist/waline.js";

  const serverURL = document
    .getElementById("waline-comment-system")
    .getAttribute("data-server-url");
  init({
    el: "#waline-comment-system",
    serverURL: serverURL,
    dark: 'html[data-theme="dracula"]',
    reaction: [
      "/reaction/good.png",
      "/reaction/bad.png",
      "/reaction/happy.png",
      "/reaction/color.png",
      "/reaction/confuse.png",
      "/reaction/heart.png",
      "/reaction/rocket.png",
      "/reaction/eyes.png",
    ],
    emoji: false,
    search: false,
  });
</script>
