---
import { SERVER_URL } from "../consts";
---

<br />
<link
  rel="stylesheet"
  href="https://unpkg.com/@waline/client@v3/dist/waline-meta.css"
/>
<div class="comment">
  <div id="waline" data-server-url={SERVER_URL}></div>
</div>
<script type="module">
  import { init } from "https://unpkg.com/@waline/client@v3/dist/waline.js";

  const serverURL = document
    .getElementById("waline")
    .getAttribute("data-server-url");
  init({
    el: "#waline",
    serverURL: serverURL,
    dark: 'html[data-theme="dracula"]',
    reaction: [
      "https://saroprock.s3.bitiful.net/good.png",
      "https://saroprock.s3.bitiful.net/bad.png",
      "https://saroprock.s3.bitiful.net/happy.png",
      "https://saroprock.s3.bitiful.net/color.png",
      "https://saroprock.s3.bitiful.net/confuse.png",
      "https://saroprock.s3.bitiful.net/heart.png",
      "https://saroprock.s3.bitiful.net/rocket.png",
      "https://saroprock.s3.bitiful.net/eyes.png",
    ],
    emoji: false,
    search: false,
  });
  const wlButtons = document.querySelectorAll(".wl-btn");
  const wlPanel = document.querySelectorAll(".wl-panel");
  const Footnotes = document.querySelectorAll(".footnotes");
  const svgContent = `
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      class="stroke-current shrink-0 w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
      ></path>
    </svg>
  `;
  const tempDiv = document.createElement("div");
  tempDiv.innerHTML = svgContent;
  const svgElement = tempDiv.firstElementChild;
  wlButtons.forEach((button) => {
    button.classList.add("btn");
  });
  wlPanel.forEach((item) => {
    item.classList.add("card", "bg-base-100", "shadow-xl");
  });
  Footnotes.forEach((item) => {
    item.classList.add("alert", "alert-info");
    item.insertBefore(svgElement, item.firstChild);
  });
</script>
