---

---

<br>
  <div class="comment">
    <div id="waline"></div>
  </div>
  <script type="module">
    import { init } from "https://unpkg.com/@waline/client@v3/dist/waline.js";

    init({
      el: "#waline",
      serverURL: "https://waline.saroprock.com",
      dark: 'html[data-theme="dracula"]',
      reaction: [
        "https://saroprock.s3.bitiful.net/good.png",
        "https://saroprock.s3.bitiful.net/bad.png",
        "https://saroprock.s3.bitiful.net/happy.png",
        "https://saroprock.s3.bitiful.net/color.png",
        "https://saroprock.s3.bitiful.net/confuse.png",
        "https://saroprock.s3.bitiful.net/heart.png",
        "https://saroprock.s3.bitiful.net/rocket.png",
        "https://saroprock.s3.bitiful.net/eyes.png",
      ],
      emoji: false,
      search: false,
    });
  </script>
</br>
