---
import { SERVER_URL } from "../consts";
---

<br />
<link
  rel="stylesheet"
  href="https://unpkg.com/@waline/client@v3/dist/waline-meta.css"
/>
<div class="comment">
  <div id="waline" data-server-url={SERVER_URL}></div>
</div>
<script type="module">
  import { init } from "https://unpkg.com/@waline/client@v3/dist/waline.js";

  const serverURL = document
    .getElementById("waline")
    .getAttribute("data-server-url");
  init({
    el: "#waline",
    serverURL: serverURL,
    dark: 'html[data-theme="dracula"]',
    reaction: [
      "https://saroprock.s3.bitiful.net/good.png",
      "https://saroprock.s3.bitiful.net/bad.png",
      "https://saroprock.s3.bitiful.net/happy.png",
      "https://saroprock.s3.bitiful.net/color.png",
      "https://saroprock.s3.bitiful.net/confuse.png",
      "https://saroprock.s3.bitiful.net/heart.png",
      "https://saroprock.s3.bitiful.net/rocket.png",
      "https://saroprock.s3.bitiful.net/eyes.png",
    ],
    emoji: false,
    search: false,
  });
</script>
