---
import ThemeIcon from "../components/ThemeIcon.astro";
---

<div class="flex-col gap-4 w-full sticky top-8">
  <div
    class="grid gap-4 grid-cols-2 md:grid-cols-1 lg:grid-cols-2 justify-center mb-b w-full max-h-[600px] overflow-hide card bg-base-100 shadow-xl p-4"
    id="button-box"
  >
    <ThemeIcon />
  </div>
  <div
    class="mb-b w-full max-h-[65vh] overflow-hide top-8 card bg-base-100 shadow-xl p-4 menu"
    id="content-box"
  >
    <div class="skeleton h-4 w-28"></div>
    <br />
    <div class="skeleton h-4 w-full"></div>
    <br />
    <div class="skeleton h-4 w-full"></div>
    <br />
    <div class="skeleton h-4 w-full"></div>
    <br />
  </div>
</div>
<script>
  function addContent() {
    const headings = document.querySelectorAll("h1, h2, h3, h4, h5, h6");

    const generateTocContent = () => {
      let tocContent = "<ul class='overflow-auto w-full list-none m-0 p-0'>";
      let levelCounters = [0, 0, 0, 0, 0, 0];
      headings.forEach((heading) => {
        const headingId = heading.id;
        const headingText = heading.textContent;
        const headingLevel = parseInt(heading.tagName.charAt(1), 10);

        if (headingId && headingText && headingLevel) {
          const level = headingLevel - 1;
          levelCounters[level]++;
          levelCounters.fill(0, level + 1);
          var numbering = levelCounters.slice(1, level + 1).join(".");
          if (numbering == "") numbering = "⚝";
          tocContent += `<li class="list-none m-0 p-0"><a class="w-full text-base font-semibold p-2 level-${headingLevel}" href="#${headingId}"><span class="toc-number">${numbering}</span>${headingText}</a></li>`;
        }
      });
      tocContent += "</ul>";
      return tocContent;
    };
    const tocBox = document.getElementById("content-box");

    if (tocBox) {
      tocBox.innerHTML = generateTocContent();
    }
  }

  document.addEventListener("DOMContentLoaded", addContent);

  document.addEventListener("swup:page:view", addContent);
</script>
