---
const today = new Date();
---

<footer class="footer card bg-base-100 shadow-xl p-6">
  <div class="date">
    &copy; {today.getFullYear()} EveSunMaple ❤️
  </div>
  <div class="inline">
    Developed by <a
      href="https://www.saroprock.com"
      target="_blank"
      class="font-bold">EveSunMaple</a
    > using
    <!-- Thanks for using this template. You can keep this line to support my work :) -->
    <a
      href="https://github.com/EveSunMaple/Frosti"
      target="_blank"
      class="font-bold">Frosti Template ⚡️</a
    >
  </div>
</footer>
