---
import { menuItems } from "../consts.ts";
---

<ul
  tabindex="0"
  class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow-xl"
>
  {
    menuItems.map((item) => (
      <li>
        <a
          class="menu-item p-4"
          id={`header-${item.id}`}
          href={item.href}
          target={item.target || "_self"}
        >
          {item.text}
        </a>
      </li>
    ))
  }
</ul>
