---
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <div class="navbar">
	<a class="navbar-title" href="/">SaroProck ⚡️</a>
  </div>
</header>