---

---

<ul
  tabindex="0"
  class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow-xl"
>
  <li><a class="menu-item p-4" id="header-home" href="/">Home</a></li>
  <li><a class="menu-item p-4" id="header-about" href="/about">About</a></li>
  <li><a class="menu-item p-4" id="header-blog" href="/blog">Blogs</a></li>
  <li><a class="menu-item p-4" id="header-project" href="/project">Projects</a></li>
  <li><a class="menu-item p-4" id="header-friend" href="/friend">Friends</a></li>
  <li>
    <a
      class="menu-item p-4"
      href="mailto:contact.evesunmaple@outlook.com"
      target="_blank"
      referrerpolicy="no-referrer-when-downgrade">Contact</a
    >
  </li>
</ul>
