---
const { PageID } = Astro.props;
const activeClass = "on"; // For primary color replace with `active` class
---

<ul class="menu bg-base-100 w-full">
  <li><a class="menu-item p-4" id="home" href="/">Home</a></li>
  <li><a class="menu-item p-4" id="about" href="/about">About</a></li>
  <li><a class="menu-item p-4" id="blog" href="/blog">Blogs</a></li>
  <li><a class="menu-item p-4" id="project" href="/project">Projects</a></li>
  <li><a class="menu-item p-4" id="friend" href="/friend">Friends</a></li>
  <li>
    <a
      class="menu-item p-4"
      href="mailto:contact.evesunmaple@outlook.com"
      target="_blank"
      referrerpolicy="no-referrer-when-downgrade">Contact</a
    >
  </li>
</ul>

<script define:vars={{ sideBarActiveItemID: PageID, activeClass: activeClass }}>
  const activeItemElem = document.getElementById(sideBarActiveItemID);
  activeItemElem && activeItemElem.classList.add(activeClass);
</script>
