---
import { socialIcons } from "../consts.ts";
import { Icon } from "astro-icon/components";
---

<div class="social-icons bg-base-200 p-4 rounded-lg gap-4">
  {
    socialIcons.map((icon) => (
      <a
        href={icon.href}
        target="_blank"
        class="social-icon"
        aria-label={icon.ariaLabel}
        title={icon.title}
      >
        <Icon name={`social/${icon.svg}`} />
      </a>
    ))
  }
</div>
