---
import ProfileBar from "./sidebar/ProfileBar.astro";
---

<div class="relative grid grid-cols-1 gap-8">
  <div class="relative">
    <ProfileBar />
  </div>
  <div class="sticky top-0"></div>
</div>
