---
import { getCollection } from "astro:content";
import CardAside from "../layouts/CardAside.astro";
import TagButton from "../widget/TagButton.astro";
import { t } from "i18next";

interface TagCount {
  tag: string;
  count: number;
}

export async function getTagsWithCounts(): Promise<TagCount[]> {
  const posts = await getCollection("blog");
  const tagMap = new Map<string, number>();

  posts.forEach((post) => {
    const tags = post.data.tags || [];
    tags.forEach((tag) => {
      tagMap.set(tag, (tagMap.get(tag) || 0) + 1);
    });
  });

  return Array.from(tagMap, ([tag, count]) => ({ tag, count }));
}

const tagsWithCounts = await getTagsWithCounts();
---

<CardAside title={t("label.tagCard")}>
  <div class="flex flex-wrap gap-2 w-full max-h-[300px] p-1 overflow-auto">
    {
      tagsWithCounts.map(({ tag, count }) => (
        <TagButton text={tag} count={count} href={`/blog/tags/${tag}`} type="tag" />
      ))
    }
  </div>
</CardAside>
