---
import { getCollection } from "astro:content";
import { infoTest } from "../consts";

interface TagCount {
  tag: string;
  count: number;
}

export async function getTagsWithCounts(): Promise<TagCount[]> {
  const posts = await getCollection("blog");

  const tagMap = new Map<string, number>();

  posts.forEach((post) => {
    const tags = post.data.tags || [];
    tags.forEach((tag) => {
      tagMap.set(tag, (tagMap.get(tag) || 0) + 1);
    });
  });

  return Array.from(tagMap, ([tag, count]) => ({ tag, count }));
}
const tagsWithCounts = await getTagsWithCounts();
---

<div class="bg-base-100 shadow-xl w-full mb-8 no-card p-4">
  <div class="p-4">
    <div class="btn btn-sm btn-ghost no-animation w-full font-bold">
      {infoTest.tagCard}
    </div>
  </div>
  <div class="flex flex-wrap gap-2.5 w-full max-h-[300px] overflow-auto">
    {
      tagsWithCounts.map(({ tag, count }) => (
        <span class="inline">
          <a href={`/blog/tag/${tag}`} class="btn btn-sm">
            {tag}
            <div class="badge badge-secondary">{count}</div>
          </a>
        </span>
      ))
    }
  </div>
</div>
