---
import ThemeButton from "../widget/ThemeButton.astro";
import BackToTopButton from "../widget/BackToTopButton.astro";
---

<div class="w-full shadow-xl rounded-xl">
  <div
    class="grid gap-4 grid-cols-2 md:grid-cols-1 lg:grid-cols-2 justify-center w-full bg-base-100 p-4 rounded-xl"
    id="button-box"
  >
    <ThemeButton id="side-theme-button" className="card" />
    <BackToTopButton id="back-button" className="card" />
  </div>
</div>
