---
import Image from "astro/components/Image.astro";
import Card from "../temple/Card.astro";
---

<Card>
  <h2 class="card-title">Astro</h2>
  <p>Astro is a static site generator for building fast, content-focused websites.</p>
</Card>
