---
import { SITE_MENU, USER_AVATAR, USER_SIDEBAR_SOCIAL_ICONS } from "../../config";
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";
import Card from "../temple/Card.astro";
---

<div transition:name="profile-bar">
  <Card />
</div>
