---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<details class="not-prose group collapse bg-base-200 rounded-2xl border border-base-content/20 overflow-hidden">
  <summary class="collapse-title text-xl font-medium cursor-pointer hover:bg-base-200 transition-colors">
    <div class="flex items-center justify-between">
      {title}
      <Icon name="lucide:chevron-down" class="shrink-0 w-5 h-5 transform transition-transform group-open:rotate-180" />
    </div>
  </summary>
  <div class="collapse-content">
    <div class="pt-4">
      <slot />
    </div>
  </div>
</details>
