---
const { title } = Astro.props;
---

<details
  tabindex="0"
  class="collapse collapse-arrow border-base-300 bg-base-200 border"
>
  <summary class="collapse-title text-xl font-medium">{title}</summary>
  <div class="collapse-content"><slot /></div>
</details>
