---
const { r, l } = Astro.props;
---

<div class="diff aspect-[16/9]">
  <div class="diff-item-1">
    <img alt="daisy" src={r} />
  </div>
  <div class="diff-item-2">
    <img alt="daisy" src={l} />
  </div>
  <div class="diff-resizer"></div>
</div>
