---
import "/node_modules/katex/dist/katex.min.css";
import Profile from "../components/ProfileCard.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
import Content from "../components/Content.astro";
import { ViewTransitions } from "astro:transitions";
import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../consts";
const { image, includeSidebar = true } = Astro.props;
---

<html lang="zh-cn" class="bg-base-300" title="main-page">
  <title class="sr-only">Frosti</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} image={image} />
  {TRANSITION_API && <ViewTransitions />}

  <body>
    <script src="../scripts/copybutton.mjs"></script>
    <Header title={SITE_TITLE} />
    <div class="main">
      <div class="profile">
        {includeSidebar && <Profile />}
      </div>
      <div class="background">
        <div class="base-background">
          <main>
            <slot />
          </main>
          <Footer />
          <br />
        </div>
      </div>
    </div>
    <Content />
    <ThemeIcon />
  </body>
</html>
