<div class="join join-vertical bg-base-100 overflow-hidden shadow-xl rounded-xl">
  <div class="join-item">
    <slot name="image" />
  </div>
  <div class="join-item main-card relative p-6 lg:p-8 bg-base-100 fade-in-up">
    <slot />
  </div>
</div>
