---
import { Image } from "astro:assets";

interface Props {
  title: string;
  image?: string;
  url: string;
}

const { title, image, url } = Astro.props;
---

<div class="group bg-base-100 rounded-xl overflow-hidden shadow-lg hover:shadow-2xl transition-all duration-500">
  <div class="flex flex-col lg:flex-row">
    <!-- Content Section -->
    <div class="flex-1 relative p-6 overflow-hidden bg-base-100 lg:order-1 order-2">
      <slot />
    </div>

    <!-- Image Section -->
    {
      image && (
        <a href={url} class="relative lg:w-2/5 aspect-video lg:aspect-auto overflow-hidden lg:order-2 order-1">
          <Image
            src={image}
            alt={title}
            width={300}
            height={200}
            format="webp"
            loading="eager"
            class="w-full h-full object-cover transform hover:scale-110 transition-transform duration-700"
          />
        </a>
      )
    }
  </div>
</div>
